*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}



.container{
    width:100%;
    height:100vh;
    background:#fff;
    display:flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background:#0a0126;
    padding:20px;
    border-radius: 10px;

}

.calculator form input{
    border:0;
    outline: 0;
    width: 60px;
    height:60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(2, 232, 253, 0.168);
    background: transparent;
    font-size: 20px;
    color: #04eefe;
}


.calculator form input.display {
    width: 260px;
    height: 70px;
    font-size: 30px;
    text-align: right;
    padding: 10px;
}


form input.operator{

color: rgb(10, 255, 137);

}